<button (click)="updateUser()">Update</button>
<button (click)="destroy()">Destroy Child</button>
<br />
<br />

<app-child [userName]="userName" *ngIf="!isChildDestroyed">
  <div #contentWrapper>foo</div>
</app-child>

<div *ngIf="isChildDestroyed">Child component is destroyed!</div>
